<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>

</head>

<body>
    <div class="container">

        <h2>🎓 Student Management System</h2>

        <button
            type="button"
            id="themeBtn"
            class="submit-btn"
            onclick="toggleTheme()"
        >
            🌙 Dark Mode
        </button>

        <br><br>

        <p class="subtitle">
            Register, Update, View and Delete Student Records
        </p>
        <div class="dashboard">

            <div class="card">

                <h3>👨‍🎓 Total Students</h3>

                <h1>{{ total_students }}</h1>

            </div>

            <div class="card">

                <h3>🧑 Adult Students</h3>

                <h1>{{ adult_students }}</h1>

            </div>

            <div class="card">

                <h3>🕒 Last Registered</h3>

                <h4>{{ last_registered }}</h4>

            </div>

        </div>

        
        <form
            action="/save"
            method="post"
            onsubmit="return validateForm()"
        >

            <label>👤 Student Name</label>
            <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter Student Name">

            <label>🎂 Age</label>
            <input
            type="number"
            name="age"
            id="age"
            placeholder="Enter Age">

            <label>📧 Email Address</label>
            <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Email Address">

            <button type="submit" class="submit-btn">
                ➕ Register Student
            </button>
            </form>

            <br><br>
             <hr>

            <h3>🔍 Search Student</h3>

            <form
                action="/search"
                method="get"
                onsubmit="return validateSearch()"
            >

                <label>🆔 Student ID</label>

                <input
                    type="number"
                    name="id"
                    placeholder="Enter Student ID"
                >

                <label>👤 Student Name</label>

                <input
                    type="text"
                    name="name"
                    id="search_name"
                    placeholder="Enter Student Name"
                >

                <button
                    type="submit"
                    class="view-btn"
                >
                    🔍 Search Student
                </button>

            </form>

            <br>
            <a href="/students">
                <button type="button" class="view-btn">
                    📋 View Students
                </button>
            </a>

            <br><br>

            <a href="/export">

                <button
                    type="button"
                    class="view-btn"
                >
                    📥 Export CSV
                </button>

            </a>

            <br><br>

            
        
    </div>
    <footer class="footer">

        <p>
            🎓 Student Management System
        </p>

        <p>
            Developed by <strong>Hafiza Amna</strong> © 2026
        </p>

    </footer>
</body>

</html>